# Root/Frontend (Old structure compatibility)
node_modules/
.DS_Store
.env

# Python/Backend
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.venv/
.env

# Backend Specific
order-management-backend/scratch/

# Frontend Specific
order-management-frontend/node_modules/
order-management-frontend/.env
order-management-frontend/.DS_Store
